.course-selection-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4122D9;
  color: white;
  padding: 10px 20px;
  font-size: 24px;
}

.menu-button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu-button:hover {
  color: #C48BFF;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px; /* Ocultar completamente */
  height: 100%;
  width: 250px;
  background-color: #613CE2;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: right 0.3s;
}

.sidebar.visible {
  right: 0;
}

.close-button {
  align-self: flex-end;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.sidebar p {
  cursor: pointer;
}

.sidebar button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #C48BFF;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #8256EC;
}

.course-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 40%;
  background-color: #F5F5F5;
}

.course-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  text-align: center;
}

.course-card:hover {
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.course-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.course-name {
  padding: 10px;
  font-size: 18px;
  color: #141313;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
}

.modal-content {
  background-color: rgb(20, 61, 107);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-height: 80%;
  overflow-y: auto;
}

.teacher-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.teacher-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.teacher-name {
  font-size: 1.2em;
  color: #f0f0f0;
}


