.register-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.register-container h2 {
  margin-bottom: 20px;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container label {
  margin-bottom: 10px;
  font-weight: bold;
}

.register-container input[type="text"],
.register-container input[type="password"] {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-container input[type="radio"] {
  margin-right: 10px;
}

.register-container .courses-selection {
  margin-bottom: 20px;
}

.register-container button {
  padding: 10px;
  background-color: #4122D9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #8256EC;
}
